*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text 
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text

*.[pP][cC][bB][dD][oO][cC] filter=lfs diff=lfs merge=lfs -text  # PcbDoc
*.[Pp][Cc][Bb][Dd][wW][fF] filter=lfs diff=lfs merge=lfs -text  # PCBDwf

#*.[sS][cC][hH][dD][oO][cC] diff=allspice linguist-detectable
#*.[pP][cC][bB][dD][oO][cC] diff=allspice linguist-detectable