#zip
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text

# pdf 
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text

# PcbDoc
*.[pP][cC][bB][dD][oO][cC] filter=lfs diff=lfs merge=lfs -text  

# PCBDwf
*.[Pp][Cc][Bb][Dd][wW][fF] filter=lfs diff=lfs merge=lfs -text  


# AllSpice
#*.[sS][cC][hH][dD][oO][cC] diff=allspice linguist-detectable
#*.[pP][cC][bB][dD][oO][cC] diff=allspice linguist-detectable